# Directories
*[Dd]ebug/
*[Dd]ebugPublic/
*[Rr]elease/
*[Rr]eleases/
*x64/
*x86/
*build/
*bld/
*[Bb]in/
*[Oo]bj/

#FILES
*.exe
*.config
*.pdb
*.maifest
*.Cache
*.suo
*.swp
*.sdf

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates